# Configuração Mercado Pago
# Pegue em: https://www.mercadopago.com.br/developers/panel/credentials
MP_ACCESS_TOKEN=APP_USR-SEU-TOKEN-AQUI

# URL do seu servidor (ex: https://seusite.com ou http://localhost:3001)
BASE_URL=http://localhost:3001

# Ambiente: production ou sandbox
NODE_ENV=sandbox
